body {
    background: #000428;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #004e92, #000428);  
background: linear-gradient(to right, #004e92, #000428); 
}
header {
    margin: 30px 0;
}
.content {
    padding:20px;
}
.main-content {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
}
.intro-price {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 50px;
}
.presupuesto p{
    margin-bottom: 0;
    font-weight: bold;
}
.presupuesto p span {
    font-weight: normal;
}
#gastos {
    margin-bottom: 30px;
}
h1{
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: #004e92;
    font-size: 22px;
    margin-bottom:30px;
}
p.budget {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 10px;
    background-color: #c9e6ff;
    border-radius: 7px;
    font-size: 18px;
    font-weight: 300;
}
p.budget.actual {
    background-color: #c9e6ff;
}
p.budget.remaning {
    background-color: #d4edda;
}
p.remaning.budget.negative{
    background-color: #edd4d7;
}
p.msg-negative {
    border: 2px solid #ff9eaa;
    padding: 10px;
    border-radius: 7px;
}
span#total,
span#budgetRest {
    font-weight: 400;
}
.mg-bt-30 {
    margin-bottom: 20px;
}